@media screen and (max-width: 940px) {
 .content-section {
  padding: 50px;
 }
 .navbar {
  padding: 10px 60px;
 }
 .contact {
  flex-direction: column !important;
 }
 .map-wrapper {
  margin-bottom: 10px;
 }
}

@media screen and (max-width: 820px) {
 .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .service-container {
  width: 100%;
 }
}

@media screen and (max-width: 730px) {
 .hero-header {
  width: auto;
 }
}

@media screen and (max-width: 460px) {
 .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 .name, .last-name {
  font-size: 1.2em;
 }
 .slogan {
  font-size: 1em;
 }
 .content-section {
  padding: 15px;
 }
 .navbar {
  padding: 10px 15px;
 }
 .hero-header {
  top: 0;
 } 
}