@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
 background: #1E1F26;
 color: #F5F5F5;
 font-size: 20px;
 font-family: 'Fira Sans', 'Courier New', Courier, monospace;
}
h1 { font-size: 30px; font-family: 'Raleway'}
h2 { font-size: 28px; font-family: 'Raleway'}
h3 { font-size: 26px; font-family: 'Raleway'}
p, span, li, a { font-size: 16px; font-family: 'Fira Sans'}

:root {
 --color-1: #343F8C;
 --color-2: #3796D3;
 --color-3: #3666AC;
 --color-4: #343F8C;
	--color-5: rgba(255, 255, 255, 0.5);
	--color-6: #85BC8D;
	--color-7: #3796D3;
	--white: #fff;
	--color-bgsec-1: #F2E8F1;
	--color-bgsec-2: #EDDEEB;
	--transparent: rgba(0, 0, 0, 0);
	--translucent: #1c365ef1;
	--for-clear-bg: #243442;
	--container-bg: rgb(243, 243, 243);
	--for-shadows: rgba(0, 0, 0, 0.35);
	--for-shadows-2: rgba(0, 0, 0, 0.15);
	--for-paragraphs: rgb(58, 58, 58);
	--for-headers: rgb(53, 53, 53);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--color-bgsec-1);
}
::-webkit-scrollbar-thumb {
  background: var(--color-7);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-7);
}

.content-section {
	width: 100%;
	padding: 100px;
}
.content-section:nth-child(odd) {
	background-color: var(--container-bg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2342243e' fill-opacity='0.14'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	color: var(--for-clear-bg);
}
.content-section:nth-child(even) {
	background-color: var(--color-3);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23eddeeb' fill-opacity='0.15'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
/* Navbar */
.navbar-wrapper {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 10;
 width: 100%;

}

.navbar {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 padding: 15px 35px;
 background: var(--transparent);
 width: 100%;
 transition: background 0.4s;
 z-index: 10;
}

.title-App {
	font-weight: bold;
}

.navbarR {
	position: static;
	/*display: flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: center;
	align-items: center;*/
	
	padding: 0.8rem 1.5rem;
	background: var(--transparent);
	margin: 0.5rem auto;
	text-align: center;
	/*border-style: none;*/
	border: 1px solid var(--color-4);
	/*width: 25%;*/
	border-radius: 0.30rem;
	transition: all 0.5s;
	font-size: 1rem;
	font-weight: bold;
}

.navbarR:hover {
	cursor: pointer;
	background: var(--color-7);
	border: 1px solid var(--color-4);
	color: white;
}

.navbarR:focus {
	outline: none;
	border: 1px solid var(--color-4);
}

.right-navbar-side {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.25rem;

}

.progress-bar {
 display: block;
 width: 100%;
 height: 1px;
 background: var(--transparent) !important;
}
.navbar-links {
 list-style: none;
}
.navbar-link {
 text-decoration: none;
 color: inherit;
}
.navbar-link-button:hover {
	cursor: pointer;
	background: var(--color-7);
	border: 1px solid var(--color-7);
}
.navbar-link-button {
 	display: flex;
	padding: 12px;
 	text-align: center;
 	border-radius: 5px;
 	background: var(--transparent);
	border: 1px solid #fff;
	transition: all 0.5s;
	justify-content:center;
}

.btnApp-links {
	list-style: none;
   }

.btnApp-link {
	text-decoration: none;
	color: inherit;
   }

.btnApp-nav-footer .btnApp-links {
	/*width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: right;
	justify-content: right;
 	border-radius: 5px;
	/*margin-bottom: 1.5rem;*/
	/*margin-left: -19rem;*/

}
.btnApp-link-button:hover {
	cursor: pointer;
	background: var(--color-7);
	border: 1px solid var(--color-7);
}

.btnApp-link-button {
	display: flex;
	padding: 12px;
 	text-align: center;
 	border-radius: 5px;
 	background: var(--transparent);
	border: 1px solid #fff;
	transition: all 0.5s;	
}

.btnApp-link.dev-finance {
	font-weight: 700;
}

.navbar-link.nav-contact .dev-Finance {
	font-weight: bold;
}
.navbar-link.nav-home:hover {
 cursor: pointer;
}
.navbar-link.nav-home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar-brand-image {
	width: 80px;
	margin-right: 10px;
}
.navbar-brand-title {
	margin-top: 7px;
	opacity: 0;
	transition: all 0.5s;
}
.progress-bar {
	width: 0px;
	border-top: 3px solid var(--color-6);
	opacity: 0.8;
}
/* Hero */
.hero-container {
 position: static;
 top: 0;
 left: 0;
 background: radial-gradient( var(--color-2), var(--color-3), var(--color-4) );
	width: 100%;
	border-bottom: 4px solid var(--color-5);
	height: 100vh;
}
.hero-image {
 position: relative;
 top: 0;
 left: 0;
 background: url('../images/hero.jpeg');
 background-size: cover;
 background-position: center;
 width: 100%;
 height: 100%;
 -webkit-filter: opacity(20%) saturate(10%);
         filter: opacity(20%) saturate(10%);
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;	
 	position: absolute;
 	top: 0;
 	left: 0;
 	/* padding: 90px 75px; */
	width: 100%;
	height: 100%;
}
.hero-header {
 margin: 0 auto;
 width: 50%;
 text-align: center;
}
.hero-header h1 {
 font-size: 2.5em;
 margin-bottom: 5px;
}
.hero-header p {
 margin-bottom: 20px;
}
.hero-header * {
 display: block;
}
.name, .last-name {
	display: inline-block;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-shadow: -1px 5px 5px var(--for-shadows);
}
.last-name {
	color: var(--color-bgsec-2);
}
.slogan {
	font-size: 1.2em;
	font-family: 'Fira Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: -1px 5px 5px var(--for-shadows);
	color: var(--white);
	font-style: oblique;
}
.ti {
	font-size: inherit;
	font-family: inherit;
	display: inline-block;
	color: inherit;
	padding: 5px 10px;
	border: 1px solid var(--color-2);
}
/* Services */

.image {
	width: auto;
	height: 150px;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.service-container {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.5);
	width: calc(100%/2);
	margin: 10px;
	box-shadow: -1px 2px 5px 1px var(--for-shadows);
	border-radius: 5px;
	text-align: center;
	justify-content: center;
}
.service-description {
	padding: 25px;
	min-height: 130px;
}
.service-description .service-header {
	margin-bottom: 10px;
}
.service-paragraph {
	color: var(--for-paragraphs);
}
.service-header {
	color: var(--for-headers);
}
/* Contact  */
.content-section.contact {
	display: flex;
	flex-direction: row;
}
.contact-form {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	margin: 0 7px;
	background: var(--white);
	justify-content: flex-start;
	padding: 20px;
	border-radius: 5px;
}
.contact-form * {
	margin: 10px 0;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
	background-color: inherit;
	border: 1px solid var(--for-shadows);
	color: var(--for-clear-bg);
	padding: 10px;
	font-family: inherit;
	border-radius: 5px;
	box-shadow: inset 1px 1px 5px var(--for-shadows-2);
}
::-webkit-input-placeholder {
	color: var(--for-paragraphs);
}
:-ms-input-placeholder {
	color: var(--for-paragraphs);
}
::-ms-input-placeholder {
	color: var(--for-paragraphs);
}
::-moz-placeholder {
	color: var(--for-paragraphs);
}
::placeholder {
	color: var(--for-paragraphs);
}
.contact-form input[type="submit"] {
 padding: 12px;
 text-align: center;
 border-radius: 5px;
 background: var(--color-6);
 border: 1px solid #fff;
 width: 40%;
 margin: 0 auto;
	font-weight: 700;	
}
.contact-form input[type="submit"]:hover {
	cursor: pointer;
}
textarea {
	padding: 10px;
	font-family: inherit;
	border: 1px solid var(--for-shadows);
	resize: none;
	border-radius: 5px;
	box-shadow: inset 1px 1px 5px var(--for-shadows-2);
}
input[type="text"]:focus, textarea:focus {
	outline: none;
}
form h2 {
	color: var(--for-headers);
}	
/* Map */
.map-wrapper {
	display: block;
	flex-basis: 70%;
	margin: 0 7px;
}
.map {
 height: 500px;
 width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px	
}
.address {
	display: block;
	background: var(--for-shadows);
	padding: 10px;
	width: 100%;
	margin: 0;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* WhatsApp button */
.whatsapp-button {
	position: fixed;
	top: 50%;
	right: 10px;
	background: url('../images/whatsapp.svg');
	background-position: center;
	background-size: cover;
	width: 50px;
	height: 50px;
	transition: 0.2s 0s all;
	transform: translateX(120%);
}

/* Agregado botones 
.navbar-link.nav-contact.card {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


}*/

.whatsapp-button:hover {
	cursor: pointer;
	transform: scale(1.3);
	right: 15px;
}
/* footer */
footer {
	padding: 10px 100px;
	transition: background 0.2s;
	cursor: pointer;
}
.go-top {
	width: 100%;
	text-align: center;
	transition: color 0.2s;
}


footer:hover {
	background: var(--color-4);
}

